flows.json
[{"id":"780eb341.9cae1c","type":"tab","label":"Credit_Card_Fraud_Detection","disabled":false,"info":""},{"id":"1aa2a761.1bd859","type":"ui_form","z":"780eb341.9cae1c","name":"","label":"","group":"d6b720cd.72c6e","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"rd","type":"number","required":true,"rows":null},{"label":"Married","value":"ms","type":"number","required":true,"rows":null},{"label":"Dependents","value":"ad","type":"number","required":true,"rows":null},{"label":"Education","value":"st","type":"number","required":true,"rows":null},{"label":"Self_Employed","value":"se","type":"number","required":true,"rows":null},{"label":"ApplicantIncome","value":"ai","type":"number","required":true,"rows":null},{"label":"CoapplicantIncome","value":"coi","type":"number","required":true,"rows":null},{"label":"LoanAmount","value":"la","type":"number","required":true,"rows":null},{"label":"Loan_Term","value":"lt","type":"number","required":true,"rows":null},{"label":"Credit_History_Available","value":"cha","type":"number","required":true,"rows":null},{"label":"Housing","value":"ho","type":"number","required":true,"rows":null},{"label":"Locality","value":"lo","type":"number","required":true,"rows":null}],"formValue":{"rd":"","ms":"","ad":"","st":"","se":"","ai":"","coi":"","la":"","lt":"","cha":"","ho":"","lo":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":50,"y":400,"wires":[["7c760eb9.3a906","3e7bceb2.202c62"]]},{"id":"7c760eb9.3a906","type":"debug","z":"780eb341.9cae1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":480,"wires":[]},{"id":"3e7bceb2.202c62","type":"function","z":"780eb341.9cae1c","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ai\",msg.payload.ai)\nglobal.set(\"coi\",msg.payload.coi)\nglobal.set(\"la\",msg.payload.la)\nglobal.set(\"lt\",msg.payload.lt)\nglobal.set(\"cha\",msg.payload.cha)\nglobal.set(\"ho\",msg.payload.ho)\nglobal.set(\"lo\",msg.payload.lo)\nvar apikey=\"agVwZ2BOAKgcQ-Qxptwx7TN-JL7DLZ9jkaoRHwjZq2Vg\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":340,"wires":[["abab4fd3.a1b25"]]},{"id":"abab4fd3.a1b25","type":"http request","z":"780eb341.9cae1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":384.00000286102295,"wires":[["cc9670b2.c0dfb","66b3a403.b69dec"]]},{"id":"cc9670b2.c0dfb","type":"debug","z":"780eb341.9cae1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":440,"wires":[]},{"id":"66b3a403.b69dec","type":"function","z":"780eb341.9cae1c","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar se = global.get(\"se\")\nvar ai = global.get(\"ai\")\nvar coi = global.get(\"coi\")\nvar la= global.get(\"la\")\nvar lt = global.get(\"lt\")\nvar cha = global.get(\"cha\")\nvar ho= global.get(\"ho\")\nvar lo = global.get(\"lo\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Gender\",\"Married\",\"Dependents\",\"Education\",\"Self_Employed\",\"ApplicantIncome\",\"CoapplicantIncome\",\"LoanAmount\",\"Loan_Term\",\"Credit_History_Available\",\"Housing\",\"Locality\"]],\"values\": [[rd,ad,ms,st,se,ai,coi,la,lt,cha,ho,lo]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":336.0000021457672,"wires":[["865f8859.6db438"]]},{"id":"865f8859.6db438","type":"http request","z":"780eb341.9cae1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/684ffdae-bf1e-4344-b414-01bfffd38b75/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":360,"wires":[["7fe4cf3e.91419","eb28161a.fa3ee8"]]},{"id":"7fe4cf3e.91419","type":"debug","z":"780eb341.9cae1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":444.00000381469727,"wires":[]},{"id":"200491b4.5f4f8e","type":"inject","z":"780eb341.9cae1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[[]]},{"id":"c65e4733.b60e38","type":"debug","z":"780eb341.9cae1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":227.0000057220459,"wires":[]},{"id":"eb28161a.fa3ee8","type":"function","z":"780eb341.9cae1c","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":268.00000190734863,"wires":[["c65e4733.b60e38","76ff6ab7.9b5ac4"]]},{"id":"76ff6ab7.9b5ac4","type":"ui_text","z":"780eb341.9cae1c","group":"d6b720cd.72c6e","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":501.20001220703125,"wires":[]},{"id":"d6b720cd.72c6e","type":"ui_group","z":"","name":"New","tab":"87cf89eb.452488","order":1,"disp":true,"width":"6","collapse":false},{"id":"87cf89eb.452488","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]